@import url("https://fonts.googleapis.com/css2?family=Spirax&display=swap");
#root {
  background-image: url(./assets/bg.jpg);
  background-position: inherit;
}

.footer {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.eid {
  font-family: "Spirax", system-ui;
  font-weight: 400;
  font-style: normal;
}
.printers {

  color: #ffee00;
  text-shadow:
    0 1px 0px #00e083,
    1px 0 0px hsl(155, 100%, 44%),
    1px 2px 1px #00e083,
    2px 1px 1px #00e083,
    2px 3px 2px #00e083,
    3px 2px 2px #00e083,
    3px 4px 2px #00e083,
    4px 3px 3px #00e083,
    4px 5px 3px #00e083,
    5px 4px 2px #00e083,
    5px 6px 2px #00e083,
    6px 5px 2px #00e083,
    6px 7px 1px #00e083,
    7px 6px 1px #00e083,
    7px 8px 0px #00e083,
    8px 7px 0px #00e083;
}
